<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>【密码安全】在线图书推荐系统</title>
    {% include '../common/css.html' %}
</head>
<body>
    {% include '../common/header.html' %}
    <div id="all">
        {% include '../common/banner.html' %}
        <div id="content">
            <div class="container">
                <div class="row bar">
                    <div class="col-md-12" align="center">
                        <div class="heading" align="left">
                            <h3 style="font-weight: normal">密码安全</h3>
                        </div>
                        <div class="col-md-6" >
                            <form action="/user/doPassword" method="post" id="form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="email" style="display: inline-block;width:20%">原密码：</label>
                                    <input name="oldPassword" id="oldPassword" maxlength="255" type="password"
                                           class="form-control" style="display: inline-block;width:70%">
                                </div>
                                <div class="form-group">
                                    <label for="email" style="display: inline-block;width:20%">新密码：</label>
                                    <input name="password" id="password" maxlength="255" type="password"
                                           class="form-control" style="display: inline-block;width:70%">
                                </div>
                                <div class="form-group">
                                    <label for="email" style="display: inline-block;width:20%">确认密码：</label>
                                    <input name="confPassword" id="confPassword" maxlength="255" type="password"
                                           class="form-control" style="display: inline-block;width:70%">
                                </div>
                                <br>
                                <div class="text-center">
                                    <button type="button" class="btn btn-template-outlined" id="submitBtn">
                                        &nbsp;&nbsp;提&nbsp;&nbsp;&nbsp;&nbsp;交&nbsp;&nbsp;
                                    </button>
                                </div>
                                <br><br><br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include '../common/footer.html' %}
    {% include '../common/js.html' %}
    <script>
        $(function(){
            $("#submitBtn").on("click",function(){
                    var temp = true;
                    $("#form").find("input[type='password']").each(function(){
                        if($(this).val()==null || $(this).val()==""){
                            temp = false;
                            return false;
                        }
                    });
                    if(!temp){
                        layer.msg("数据不能为空!");return false;
                    }
                    if($("#password").val()!=$("#confPassword").val()){
                        layer.msg("两次密码不一致!");return false;
                    }
                    common_ajax_other($("#form").attr("action"),$("#form").serialize());
            });
        });
    </script>
</body>
</html>